body, html {
    margin: 0;
    padding: 0;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3050px; /* Augmenter la hauteur pour un défilement plus long */
    background-color: #000; /* Fond noir */
    color: #fff; /* Texte blanc pour contraste */
}
.scene {
    width: 200px;
    height: 200px;
    perspective: 600px;
    position: fixed; /* Fixer la position */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    transition: transform 0.1s linear; /* Transition plus rapide et linéaire */
}
.face {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #fff; /* Fond blanc */
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #333;
    text-align: center;
}
.front  { transform: rotateY(  0deg) translateZ(100px); }
.back   { transform: rotateY(180deg) translateZ(100px); }
.right  { transform: rotateY( 90deg) translateZ(100px); }
.left   { transform: rotateY(-90deg) translateZ(100px); }
.top    { transform: rotateX( 90deg) translateZ(100px); }
.bottom { transform: rotateX(-90deg) translateZ(100px); }

.clock {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 48px; /* Augmenté de 200% par rapport à 24px */
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}
.github-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    color: white;
}
.github-icon img {
    width: 48px;
    height: 48px;
}